@using EntityLayer.Concrete
@model List<Service>

<div class="sevices-w3layouts" id="services">
	<div class="container">
		<h3 class="tittle">Hizmetlerimiz</h3>
		<p class="heading-btm-w3ls">4 Farklı hizmet türü ile sizlere ulaşmaya devam ediyoruz.</p>
		<div class="services-main">
			@foreach (var item in Model)
			{
				<div class="@item.Class1" data-wow-delay=".5s">
					<h5>@item.Title</h5>
					<p>@item.Description</p>

					<div class="@item.LogoImage">
						<i class="@item.Image" aria-hidden="true"></i>
						<p>@item.Title</p>
					</div>
				</div>
			}
@* 			<div class="col-md-3 sevices-w3layouts-grids sevices-w3layouts-mdl wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Safety</h5>
				<p>Consectetur adipi lorem ipsum dolor sit amet, est eligendi scing elit consectetur.</p>

				<div class="sevices-w3layouts-img c2">
					<i class="fa fa-globe" aria-hidden="true"></i>
					<p>Lorem ipsum</p>
				</div>
			</div>
			<div class="col-md-3 sevices-w3layouts-grids sevices-w3layouts-mdl1 wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Environment</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipi est eligendi scing elit consectetur.</p>

				<div class="sevices-w3layouts-img c3">
					<i class="fa fa-tree" aria-hidden="true"></i>
					<p>Lorem ipsum</p>
				</div>
			</div>
			<div class="col-md-3 sevices-w3layouts-grids wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Climate Change</h5>
				<p>Consectetur adipi lorem ipsum dolor sit amet, est eligendi scing elit consectetur.</p>

				<div class="sevices-w3layouts-img c4">
					<i class="fa fa-envira" aria-hidden="true"></i>
					<p>Lorem ipsum</p>
				</div>
			</div> *@
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//sevices-->
